ipldatafactory2107/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ipldatafactory2107"
		},
		"iplstorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'iplstorage'"
		},
		"iplstorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ipl2019.dfs.core.windows.net/"
		},
		"iplvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ipl2109key.vault.azure.net/"
		},
		"ipldatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0405-090644-rhaojo2j"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/iplstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('iplstorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('iplstorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iplvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('iplvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ipldatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405618683356345.5.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "iplvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks"
					},
					"existingClusterId": "[parameters('ipldatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iplvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "silver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/poojakarthikeyan1113@gmail.com/silver"
						},
						"linkedServiceName": {
							"referenceName": "ipldatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/poojakarthikeyan1113@gmail.com/gold"
						},
						"linkedServiceName": {
							"referenceName": "ipldatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-04.centralindia.logic.azure.com:443/workflows/766c8f5e231b4d2c91820167e0ee85a8/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=NNvD3T8j-q5X02L6z0dDbQoOMhYfLb92j8bYaopcvwY",
							"body": {
								"value": "{\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"pipeline_runid\":\"@{pipeline().RunId}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-05T20:39:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ipldatabricks')]"
			]
		}
	]
}